*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #fff;
    
}
.head{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    background-color: #0f1618;
    color: #fff;
    padding: .5em;
    height: 3em;
    align-items: center;
}
.icon{
    max-width: 30px;
}
.menu{
    display: none;
}
section{
    max-width: 75em;
    margin: auto;
}
footer{
    display: flex;
    padding: 1em;
    background-color: #0f1618;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}
footer nav{
    max-width: 300px;
    
}
.sobre-footer{
    color: #fff;
    max-width: 500px;
    font-size: 13px;
    
}
.sobre-footer p{
    padding: .8em;
}
@media (max-width: 600px) {
    .menu{
        display: block;
    }
    .head nav{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #0f1618;   
        height: 100vh;
        display: block;
    }
    head nav.open{
        left: 0;
    }
}
@media (max-width: 750px) {
    footer{
        display: block;
        padding: 1em;
        background-color: #0f1618;
        max-width: 100%;
        align-items: center;
        margin-top: 2em;
    }
    .sobre-footer{
        color: #fff;
        max-width: 500px;
        font-size: 13px;
        margin: auto;
        
    }
    .sobre-footer h2{
        display: none;
    }
    .sobre-footer p{
        padding: .8em;
    }
    footer nav{
        display: flex;
        margin: auto;
        justify-content: space-between;
    }   
}