*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #fff;
    
}
.head{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    background-color: #0f1618;
    color: #fff;
    padding: .5em;
    height: 3em;
    align-items: center;
}
.icon{
    max-width: 30px;
}
.menu{
    display: none;
}
section{
    max-width: 100%;
    margin: auto;
    /*display: flex;*/
}
.jogos{
    max-width: 75em;
    background-color: #fff;
    margin: auto;
    padding: 2em;
}
.jogo{
    display: flex;
    max-width: 900px;
    margin: 2em 0 1em 0;
}
hr{
    max-width: 100%;
}
.text-jogo{
    margin: 0 0 0 1em;
    max-width: 800px;
}
.text-jogo h2{
    margin-bottom: .5em;
    font-size: 19px;
}
.text-jogo p{
    margin-bottom: .5em;
    font-size: 13px;
    color: #847d7a;
}
.by{
    color: #b1b5ba;
}
footer{
    display: flex;
    padding: 1em;
    background-color: #0f1618;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}
footer nav{
    max-width: 300px;
    
}
.sobre-footer{
    color: #fff;
    max-width: 500px;
    font-size: 13px;
    
}
.sobre-footer p{
    padding: .8em;
}
@media (max-width: 600px) {
    .jogos{
        max-width: 75em;
        background-color: #fff;
        /*margin: auto;*/
        padding: .5em;
    }
    .jogo{
        display: block;
        margin: 1em 0 1em 0;
        padding: .5em;
    }
    .img{
        width: 500px;
    }
    .img-game{
        width: 100%;
    }
    .text-jogo{
        margin: 1em 0 0 0;
        max-width: 800px;
    }
    .menu{
        display: block;
    }
}
@media (max-width: 750px) {
    footer{
        display: block;
        padding: 1em;
        background-color: #0f1618;
        max-width: 100%;
        align-items: center;
        margin-top: 2em;
    }
    .sobre-footer{
        color: #fff;
        max-width: 500px;
        font-size: 13px;
        margin: auto;
        
    }
    .sobre-footer h2{
        display: none;
    }
    .sobre-footer p{
        padding: .8em;
    }
    footer nav{
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
}